@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
@font-face{
	font-family: ArMTG;
	src: url(ArMTG.ttf);
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #080926;
  font-family: "Montserrat";
}
.account {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 10;
  text-transform: uppercase;
  font-size: 18px;
  padding-left: 25px;
}
.account img {
	position: absolute;
	height: 136%;
	width: auto;
	left: 0;
	top: -0.25rem;
}
.links {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 10;
  text-transform: uppercase;
  font-size: 24px;
}
a, img {
	border-radius: 0.2em;
}
a, a:link, a:visited, a:active {
  font-family: "Montserrat";
  font-size: 18px;
  text-decoration: none;
  background: #212121;
  padding: 4px 8px;
  color: #f7f7f7;
}
a:hover, a:link:hover, a:visited:hover, a:active:hover {
  background: #edf3f8;
  color: #212121;
}

.title {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  width: 100%;
}
.title h1 {
  font-family: ArMTG;
  position: relative;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 120px;
  padding: 0;
  margin: 0;
  line-height: 1;
}
.title h1 span {
  font-weight: 600;
  font-size: 120px;
  padding: 0;
  margin: 0;
  line-height: 1;
}
.title h3 {
  font-weight: 200;
  font-size: 30px;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #FFFFFF;
  letter-spacing: 2px;
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.4;
	}
}
canvas {
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
  animation: fade-out 1.5s ease 4s forwards;
  opacity: 1;
}
a, .title {
	opacity: 0;
	animation: fade-in 1.5s ease 2s forwards;
}
#editor, #app {
	color: #fff;
	font-size: 3rem;
	position: absolute;
	z-index: 999;
	width: 75%;
	height: 80%;
	background: #010104;
	background: rgba(0,0,0,0.9);
	margin: 0 auto;
	left: 12.5%;
	top: 10%;
	transition: 0.4s ease;
	opacity: 0;
	display: block;
}