@import url('font-awesome.css');@import url('animate.min.css');@import url('app.css');
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: local('Teko Regular'), local('Teko-Regular'), url('../fonts/teko/v7/LYjNdG7kmE0gfaN9oA.ttf') format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 600;
  src: local('Teko SemiBold'), local('Teko-SemiBold'), url('../fonts/teko/v7/LYjCdG7kmE0gdXxZsCRgrQ.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf') format('truetype');
}
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 700;
  src: local('Passion One Bold'), local('PassionOne-Bold'), url('../fonts/passionone/v9/Pby6FmL8HhTPqbjUzux3JEMq007vyJI.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: #000000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: fixed;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
}

.navbar-toggler {
	display:inline;
	z-index:999;
	font-size:30px;
	text-align: right;
	/*top: 40px;*/
	position: fixed;
	right: auto;
	height: 37px;
}
.navbar-toggler a {
	text-decoration:none;
}
.btn-open:after {
	color:#fff;
	content:"\f0c9";
	font-family:"FontAwesome";
	/*transition-property:all .2s linear 0s;*/
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
	color:#00a8ef;;
}
.btn-close:after {
	color:#fff;
	content:"\f00d";
	font-family:"FontAwesome";
	/*transition-property:all .2s linear 0s;*/
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
	color: #00a8ef;
}

.new {
	height: 100%;
	vertical-align: middle;
	top: 100%;
}

.one {
	left: 455px;
	top: -185.478px;
	pointer-events: auto;
	visibility: inherit;
	opacity: 1;
}
.line {
	visibility: inherit;
	opacity: 1;
	width: 81.9836px;
	position: absolute;
/*	transform: rotate(36deg) translate(0px, -50%);
	-webkit-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
	top: 50%;
	left: 50%;*/
}
.of {
	left: 410px;
	top: -90px;
	pointer-events: auto;
	visibility: inherit;
	opacity: 1;
}
.three {
	left: 347px;
	top: 7px;
	pointer-events: auto;
	visibility: inherit;
	opacity: 1;
}
.four {
	left: 265.812px;
	top: 100.9918px;
	pointer-events: auto;
	visibility: inherit;
	opacity: 1;
}
.five {
	left: 160px;
	top: 200px;
	pointer-events: auto;
	visibility: inherit;
	opacity: 1;
}
.six {
	left: 120.289px;
	top: 185.289px;
	pointer-events: auto;
	visibility: inherit;
	opacity: 1;
}
.half-circle {
	width: 100%;
	height: 120%;
	background-color: transparent;
	border-bottom-right-radius: 1000px;
	border-top-right-radius: 1000px;
	border: 10px solid gray;
	border-left: none;
	vertical-align: middle;
	left: -260px;
	top: -50px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.logo {
	left:20px;
	top:20px;
	position: fixed;
	text-align: left;

}
.logo img {
	height: 70px;
}

.menulogo {
	text-align: center;
	position: relative;
}
.menulogo img {
	height: 150px;
}
div1 {
	width: 200px;
	height: 20px;
	background: #fff;
	border: 2px solid #000;
	z-index: 9999;
	position: fixed;
	top:50%;

}


#myDIV {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000000;
	z-index: 9999;
	opacity:1;
}

#preloader {
	position: fixed;
	background-color: rgba(18, 23, 46, 1);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity:1;
	z-index: 9999;
}
/*#loader {*/
	/*display: block;*/
	/*position: relative;*/
	/*left: 50%;*/
	/*top: 50%;*/
	/*width: 150px;*/
	/*height: 150px;*/
	/*margin: -75px 0 0 -75px;*/
	/*border-radius: 50%;*/
	/*border: 3px solid transparent;*/
	/*border-top-color: #9370DB;*/
	/*-webkit-animation: spin 2s linear infinite;*/
	/*animation: spin 2s linear infinite;*/
/*}*/
/*#loader:before {*/
	/*content: "";*/
	/*position: absolute;*/
	/*top: 5px;*/
	/*left: 5px;*/
	/*right: 5px;*/
	/*bottom: 5px;*/
	/*border-radius: 50%;*/
	/*border: 3px solid transparent;*/
	/*border-top-color: #BA55D3;*/
	/*-webkit-animation: spin 3s linear infinite;*/
	/*animation: spin 3s linear infinite;*/
/*}*/
/*#loader:after {*/
	/*content: "";*/
	/*position: absolute;*/
	/*top: 15px;*/
	/*left: 15px;*/
	/*right: 15px;*/
	/*bottom: 15px;*/
	/*border-radius: 50%;*/
	/*border: 3px solid transparent;*/
	/*border-top-color: #FF00FF;*/
	/*-webkit-animation: spin 1.5s linear infinite;*/
	/*animation: spin 1.5s linear infinite;*/
/*}*/
/*@-webkit-keyframes spin {*/
	/*0%   {*/
		/*-webkit-transform: rotate(0deg);*/
		/*-ms-transform: rotate(0deg);*/
		/*transform: rotate(0deg);*/
	/*}*/
	/*100% {*/
		/*-webkit-transform: rotate(360deg);*/
		/*-ms-transform: rotate(360deg);*/
		/*transform: rotate(360deg);*/
	/*}*/
/*}*/
/*@keyframes spin {*/
	/*0%   {*/
		/*-webkit-transform: rotate(0deg);*/
		/*-ms-transform: rotate(0deg);*/
		/*transform: rotate(0deg);*/
	/*}*/
	/*100% {*/
		/*-webkit-transform: rotate(360deg);*/
		/*-ms-transform: rotate(360deg);*/
		/*transform: rotate(360deg);*/
	/*}*/
/*}*/

#slider{
	z-index: 9999;
	/*margin-left: 33%;*/
	/*margin-right: 33%;*/
	/*margin-top: -6px;*/
}

.range-slider {
	text-align: center;
	/*opacity: 0;*/
    /*width: 100%;*/
	pointer-events: auto;
	margin-bottom: 8px;
	padding-top: 8px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;

}
.range-slider__range {
	-webkit-appearance: none;
	width: 520px;
	height: 7px;
	border-radius: 500px;
	background: #db024d;
	outline: none;
	padding: 0;
	margin: 0;
	pointer-events: auto;
}

input[type=range] {
	-webkit-appearance: none;
	height: 22px;
	background: transparent
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	height: 2px;
	/*border: 1px solid #b9d1e1;*/
	border-radius: 6px;
	background-clip: padding-box;
	background-color: #fff;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: rgb(164, 18, 68);
	width: 22px;
	height: 22px;
	border-radius: 0;
	position: relative;
	bottom:10px;
}
input[type=range]::-moz-range-track {
	background: #FFF;
	height: 12px;
	border: 1px solid #b9d1e1;
	border-radius: 6px;
	background-clip: padding-box
}
input[type=range]::-moz-range-thumb {
	background: #db024d;
	width: 22px;
	height: 22px;
	border-radius: 0;
	border: none
}
input[type=range]::-ms-track {
	background: #FFF;
	height: 12px;
	border: none;
	border-radius: 0;
	color: transparent;
	background-clip: padding-box
}
input[type=range]::-ms-fill-lower {
	background: #db024d;
	height: 12px;
	border: 1px solid #3d7b00;
	border-radius: 0;
	background-clip: padding-box
}
input[type=range]::-ms-fill-upper {
	background: #FFF;
	height: 12px;
	border: 1px solid #b9d1e1;
	border-radius: 0;
	background-clip: padding-box
}
input[type=range]::-ms-thumb {
	background: #db024d;
	width: 22px;
	height: 22px;
	border-radius: 11px;
	z-index: 100;
	border: none;
	position: absolute;
	overflow: visible
}

.dotstyle {
    right:25px;
    top:35%;
    position: fixed;
	z-index: 999;
}
.dotstyle ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
}

.dotstyle li {
    position: relative;
    display: block;
    margin: 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.dotstyle li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background-color: rgba(255,255,255,0.3);
    text-indent: -999em;
    cursor: pointer;
    position: absolute;
}
.dotstyle-fillup li a {
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    box-shadow: inset 0 0 0 2px rgba(255,255,255,1);
    transition: background 0.3s;
}

.dotstyle-fillup li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 1px #fff;
    transition: height 0.3s;
}

.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
    background-color: rgba(0,0,0,0.2);
}

.dotstyle-fillup li.current a::after {
    height: 100%;
}
#homesection {
	/*height: 100%;*/
	/*position: relative;*/
	position: fixed;
}

#homesection .vertical-center {
	margin-bottom: 0;
}

#aboutSection {
	/*height: 100%;*/
	/*position: relative;*/
	position: fixed;
	transform: matrix(1, 0, 0, 1, 0, 800);
}

#aboutSection .vertical-center {
	margin-bottom: 0;
}

#supportSection {
	/*height: 100%;*/
	/*position: relative;*/
	position: fixed;
	transform: matrix(1, 0, 0, 1, 0, 1600);
}

#supportSection .vertical-center {
	margin-bottom: 0;
}


#platformSection {
	/*height: 100%;*/
	/*position: relative;*/
	position: fixed;
	transform: matrix(1, 0, 0, 1, 0, 2600);
}

#platformSection .vertical-center {
	margin-bottom: 0;
}

#signupSection {
	/*height: 100%;*/
	/*position: relative;*/
	position: fixed;
	transform: matrix(1, 0, 0, 1, 0, 3600);
}

#signupSection .vertical-center {
	margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align : center;
	-webkit-align-items : center;
	-moz-box-align : center;
	-ms-flex-align : center;
	align-items : center;
	width: 100%;
	-webkit-box-pack : center;
	-moz-box-pack : center;
	-ms-flex-pack : center;
	-webkit-justify-content : center;
	justify-content : center;
}

h1 {
	font-size:120px;
	font-family: 'Teko', sans-serif;
	line-height: 80px;
}
h2 {
	font-size:28px;
	margin-bottom: 25px;
}
h4 {
	font-family: 'Teko', sans-serif;
	font-size:50px;
	line-height: 40px;

}

#homesection h1 {
	line-height: 40px;
}

#homesection h3 {
	font-size: 31px;
}

#signupSection h1 {
	line-height: 100px;
}

  .inspired-by {
	  display: block;
	  position: relative;
	  margin-bottom: 15px;
	  text-align: center;
	  color: #fff;
	  font-size: 14px;
  }

.card {
	display: block;
	position: absolute;
	top: 25px;
	margin: 0 auto;
	width: 350px;
	background-color: #fff;
	border-radius: 15px;

	box-shadow: 0 30 50 rgba(0, 0, 0, 0.2);

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.card__header {
	position: relative;
	height: 410px;
	padding: 30px 30px 300px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	color: #fff;
}

.card__header--19, .card__header--mobile, .card__header--vr {
	background: #26C9F7;
	background: linear-gradient(#26adf7, #3c7afc);
}

.card__watermark {
	overflow: hidden;
	position: absolute;
	bottom: -70px;
	left: 0;
	width: 100%;
}

.card__watermark::after {
	content: attr(data-watermark);
	position: relative;
	left: -20px;
	color: rgba(0, 0, 0, .1);
	font-size: 240px;
	font-weight: 700;
	text-transform: uppercase;
}

.card__logo {
	width: 50px;
	height: auto;
}

.card__price {
	float: right;
	font-size: 16px;
	font-weight: 300;
}

.card__title {
	margin: 35px 0 20px;
	font-size: 15px;
	line-height: 1.1em;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.card__subtitle {
	display: block;
	font-size: 13px;
	font-weight: 300;
}

.card__body {
	position: relative;
	padding: 40px 30px 20px;
	background-color: #fff;
}

.card__image {
	z-index: 1;
	position: absolute;
	top: -180px;
	right: -45px;
	width: 300px;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card__wish-list {
	display: block;
	width: 50%;
	margin: 0 auto 15px;
	padding: 15px;
	border: 2px solid #fff;
	border-radius: 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
}

.card__wish-list--19 {
	color: #00a1ff!important;
	border-color: #00a1ff;
}

.card__wish-list--19:hover {
	background-color: #00a1ff;
	color: #ffffff!important;
}

.card__wish-list--mobile {
	color: #00a1ff!important;
	border-color: #00a1ff;
}

.card__wish-list--mobile:hover {
	background-color: #00a1ff;
	color: #ffffff!important;
}
.card__wish-list--vr {
	color: #00a1ff!important;
	border-color: #00a1ff;
}

.card__wish-list--vr:hover {
	background-color: #00a1ff;
	color: #ffffff!important;
}

.card__category {
	display: block;
	font-size: 12px;
	color: #AEAEAE;
	text-transform: uppercase;
	text-align: center;
}

.card__will-animate {
	will-change: transform;
}

.cards-placeholder {
	display: block;
	position: relative;
	margin-bottom: 15px;
	text-align: center;
}

.cards-placeholder__item {
	opacity: 0.3;
	display: inline-block;
	margin-right: 10px;
	background-color: #fff;
	width: 30px;
	height: 5px;
	border-radius: 5px;

	transition: opacity 0.2s;
	will-change: opacity;
}

.cards-placeholder__item--active {
	opacity: 1;
}
a:hover {
	text-decoration: none!important;
}

.btn {
	pointer-events: auto;
	border-radius: 0;
	border-width: 1px;
}

.btn-primary {
	color: #0275d8;
	border-color: #0275d8;
	margin-bottom: 15px;
	background-color: transparent;
}

#aboutSection .btn-primary {
	color: #659AF7;
	border-color: #659AF7;
	margin-bottom: 15px;
	background-color: transparent;
	padding: 8px 30px;
}
#aboutSection .btn-primary:hover {
	color: #ffffff;
	background-color: #659AF7;
}
#supportSection .btn-primary {
	color: #659AF7;
	border-color: #659AF7;
	margin-bottom: 15px;
	background-color: transparent;
	padding: 8px 30px;
}
#supportSection .btn-primary:hover {
	color: #ffffff;
	background-color: #659AF7;
}
.card__body {
	text-align: center;
	padding: 30px 30px 20px;
}

/*#aboutover {*/
	/*transform: matrix(1, 0, 0, 1, 0, 600);*/
/*}*/
/*#mainover {*/
	/*transform: matrix(1, 0, 0, 1, 0, 1200);*/
/*}*/
.overlay {
	/*height: 1000px;*/
	width: 100%;
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	opacity: 0;
	/*background-color: #12172e;*/
	/*display: none;*/
	/*transition: opacity .35s, visibility .35s, height .35s;*/
	/*opacity: 0;*/
}

.overlay-content {
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
	/*margin-top: 30px;*/
	background-color: #000000;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: fixed;
	top: 20px;
	right: 34px;
	font-size: 60px;
	text-align: right;
	margin-bottom: 0;
	padding: 0;

}


.overlay .container {
	margin-top: 100px;
}

#menuover .container {
	margin-top: 0;
}

@media screen and (max-height: 450px) {
	.overlay {overflow-y: auto;}
	.overlay a {font-size: 20px}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

.group {
	position: relative;
	margin-bottom: 35px;
}

input {
	font-size: 18px;
	padding: 5px 10px 10px 5px;
	padding-left: 0;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
}

.footer-message input {
	border-bottom:0;
}

.footer-message {
	text-align: center;
}

input:focus {
	outline: none;
}

label {
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
	top: -20px;
	font-size: 14px;
	color: #fff;
}

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #fff;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
	width: 50%;
}

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
	from {
		background: #fff;
	}

	to {
		width: 0;
		background: transparent;
	}
}

@-moz-keyframes inputHighlighter {
	from {
		background: #fff;
	}

	to {
		width: 0;
		background: transparent;
	}
}

@keyframes inputHighlighter {
	from {
		background: #fff;
	}

	to {
		width: 0;
		background: transparent;
	}
}


#panel {
	/*border: 1px solid rgb(200, 200, 200);*/
	/*box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;*/
	/*background: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);*/
	/*background: red; !* For browsers that do not support gradients *!*/
	/*background: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); !* For Safari 5.1 to 6.0 *!*/
	/*background: -o-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); !* For Opera 11.1 to 12.0 *!*/
	/*background: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); !* For Firefox 3.6 to 15 *!*/
	/*background: linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); !* Standard syntax (must be last) *!*/


	/*border-radius: 4px;*/

	padding: 40px 15px 15px;
	background-color: #2e404f;
}

.btn-warning {
	color: #ffffff;
	background-color: #659AF7;
	border-color: #659AF7;

}

.btn-warning:hover {
	color: #659AF7;
	background-color: transparent;
	border-color: #659AF7;

}

#mainover img {
	width: 100%;
}
#aboutover img {
	width: 100%;
}
#mainover p {
	text-align: justify;
}
#aboutover p {
	text-align: justify;
}

#menuover {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 900px;
	width: 100%;
}
#aboutover {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 900px;
	width: 100%;
	overflow-y: scroll;
}
#mainover {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 900px;
	width: 100%;
	overflow-y: scroll;
}

/*.navbar-toggler {*/
	/*right:0;*/
/*}*/

.menu-over {
	width: 100%;
	text-align: center;
}
.menu-over li {
	list-style: none;
	text-transform: uppercase;
}

.fs-icon{
	width: 33px;
	height: 33px;
	-webkit-transition: .265s ease all;
	transition: .265s ease all;
	opacity: .7;
	padding: 10px 0;
	background: url(../assets/fullscreen.svg) center no-repeat;
	background-size: contain;
	float: right;
	display:inline;
	margin: 0 20px;
}

.fs-icon:hover {
	opacity: 1;
}

.mail-icon{
	width: 33px;
	height: 33px;
	-webkit-transition: .265s ease all;
	transition: .265s ease all;
	opacity: .7;
	padding: 10px 0;
	background: url(../assets/mail.svg) center no-repeat;
	background-size: contain;
	float: right;
	display:inline;
	margin: 0 20px;
}

.mail-icon:hover {
	opacity: 1;
}

.mail {
	background: url(../assets/message.svg) center no-repeat;
	background-size: contain;
}
.navbar-side {
	padding-top: 40px;
	list-style: none;
	display: inline-flex;
	text-align: right;
	position: fixed;
	/* float: right; */
	right: 80px;
}
.navbar {
	padding-right: 0;
}

.navbar-toggler {
	/*background-color: #fff;*/
	/*border-radius: 0;*/
	/*border: 0!important;*/
	/*line-height: 0.3;*/
	/*padding: 55px 25px 30px;*/
	/*top: 0;*/
	background-color: transparent;
	border-radius: 0;
	border: 0!important;
	line-height: 0.4;
	padding: 7px 20px;
	top: 48px;
	color: #fff;
	border: 1px solid rgba(101,154,247, 0.62)!important;
}

.navbar-light .navbar-toggler {
	color: rgba(101,154,247, 0.80);
	border:0;
}
.navbar-light .navbar-toggler:hover {
	color:#000;
	border:0;
	box-shadow: rgb(228, 255, 236) 0px 0px 25px;
	background-color: #fff;
}

.navbar-toggler .fa {
	font-size: 20px;
}

.navbar-side .btn-primary {
	color: rgba(101,154,247, 0.80);
	border: 1px solid rgba(101,154,247, 0.63);
	margin-bottom: 0;
	background-color: transparent;
	font-size: 12px;
	margin-right: 0;
	padding: 10px 30px;
	height: 37px;
}

.navbar-side .btn-primary:hover {
	color: #000;
	border: 1px solid #fff;
	background-color: #fff;
	opacity: 1;
	box-shadow: rgb(228, 255, 236) 0px 0px 25px;
}

button, html [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: none;
}

.menu-over li a {
	font-size: 68px;
	line-height: 60px;
	color:#b9b9b9;
	text-align: left;
	font-family: 'Teko', sans-serif;
	letter-spacing: 5px;
}
.menu-over li a:hover {
	text-decoration: underline!important;
	color:#fff;
	transform:translateX(30px);
}
.menu-over {
	/*padding-left: 30%;*/
}

.footer {
	position: fixed;
	right: 0;
	left: 0;
	bottom:20px;
	z-index: 9;
	text-align: center;
}

.footer-message {
	text-align: center;
	width: 100%;
	color: rgb(98, 98, 98);
	opacity: 1;
}

.footer-message .homemessage { display: none}
.footer-message .aboutmessage { display: none}
.footer-message .futuremessage { }


/*.footer-message .currentpoz {*/
	/*display: inline!important;*/
	/*-webkit-animation-name: animfooter; !* Safari 4.0 - 8.0 *!*/
	/*-webkit-animation-duration: 1.5s; !* Safari 4.0 - 8.0 *!*/
	/*animation-name: animfooter;*/
	/*animation-duration: 1.5s;*/

/*}*/
/*@-webkit-keyframes animfooter {*/
	/*from {opacity: 0;}*/
	/*to {opacity: 1;}*/
/*}*/

/*!* Standard syntax *!*/
/*@keyframes animfooter {*/
	/*from {opacity: 0;}*/
	/*to {opacity: 1;}*/
/*}*/

/*.overlay li {*/
	/*margin-left: 150px;*/
	/*opacity: 0;*/
/*}*/

#menuover li {
	display: none;
	opacity: 0;
}

.is-opened li {
	display: block!important;
	animation: textanim 3s ease forwards;
	animation-delay: .35s;
}
.is-opened li:nth-of-type(2) {
	animation-delay: .45s;
}
.is-opened li:nth-of-type(3) {
	animation-delay: .55s;
}
.is-opened li:nth-of-type(4) {
	animation-delay: .65s;
}
.is-opened li:nth-of-type(5) {
	animation-delay: .75s;
}

@-webkit-keyframes textanim {
	from {opacity:0;margin-left: 150px;}
	to {opacity:1;margin-left: 0;}
}

/* Standard syntax */
@keyframes textanim {
	from {opacity:0;margin-left: 150px;}
	to {opacity:1;margin-left: 0;}
}

.btn:focus, .btn:active, .btn-primary:active, a:active {
	outline: none!important;
}
a:focus {
	outline: none!important;
}

.btn-primary:focus {
	outline: none!important;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: 0;
	box-shadow: none;
}

#aboutover .btn-primary {
	color: #659AF7;
	border-color: #659AF7;
	margin-bottom: 15px;
	background-color: transparent;
	padding: 8px 30px;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}
#aboutover .btn-primary:hover {
	color: #ffffff;
	background-color: #659AF7;
}

#mainover .btn-primary {
	color: #659AF7;
	border-color: #659AF7;
	margin-bottom: 15px;
	background-color: transparent;
	padding: 8px 30px;
	font-size: 14px;
}
#mainover .btn-primary:hover {
	color: #ffffff;
	background-color: #659AF7;
}

.footer-buttons li {
	list-style: none;
}

.footer-buttons li a {
	color: rgba(101,154,247, 0.63);
	padding: 6px 15px;
	float: right;
	border: 1px solid rgba(101,154,247, 0.42);
	width: 50px;
}

.footer-buttons li a:hover{
	box-shadow: rgb(228, 255, 236) 0px 0px 25px;
	color:#000;
	background-color: #fff;
}

.footer-buttons {
	padding-right: 25px;
}

.btn-primary svg {
	fill: #659AF7;
	margin-left: 25px;
}

.btn-primary:hover svg polygon,
.btn-primary:hover{
	fill:#fff;
}

.range-slider {
	display: none;
	-webkit-animation-name: animfooter2;
	-webkit-animation-duration: 5s;
	animation-name: animfooter2;
	animation-duration: 5s;
}
.currentpoz {
	-webkit-animation-name: animfooter;
	-webkit-animation-duration: 5s;
	animation-name: animfooter;
	animation-duration: 5s;
	display: block!important;

}
@-webkit-keyframes animfooter {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes animfooter {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-webkit-keyframes animfooter2 {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes animfooter2 {
	from {opacity: 1;}
	to {opacity: 0;}
}

#signupSection input {
	color: #fff;
}

#sections {
	display: block;
	opacity:0;
}

.mobile-button {
	display: none;
}

.menu-mobile {
	display: none;
}

#mobile {
	display: none;;
}

.mobile-button {
	display: none!important;
}

.desktop-button {
	display: inline-block!important;
}

.is-opened {
	display: inline-block!important;
	opacity: 1;
	pointer-events: auto;
}

#contentfooter {
	opacity:0;
}
#dot {
	opacity:0;
}
#mainNav {
	opacity: 0;
}

@media screen and (max-width: 769px) {
	#mainNav {
		opacity:1;
	}
	#sections {
		display: none!important;
	}
	canvas {
		display:none!important;
	}

	.contacts-button {
		display: none;
	}

	.menu-over {
		padding-left: 0;
	}

	.menu-over li a {
		text-align: center;
		font-size: 32px;
	}
	.menu-mobile {
		display: block;
	}
	.menu-desktop {
		display:none
	}
	#preloader {
		display: none;
	}
	body {
		overflow: scroll;
		position: relative;
		background-color: #12172e;
		max-width: 100%;
	}
	.dotstyle {
		display: none;
		width: 100%;
	}

	#mobile {
		display: block;
	}
	.navbar {
		background-color: #12172e;
		height: 100px;
	}
	.buttons {
		width: 100%;
		text-align: center;
	}
	h1, h3 {
		width: 100%;
		text-align: center;
	}
	h1 {
		font-size: 90px;
	}
	.homemobile {
		background-image: url("../assets/logo3.png");
		background-position: center;
		background-size: cover;
		/*padding-right: 25px;*/
		/*padding-left: 25px;*/
	}

	.aboutmobile {
		padding-top: 100px;
		padding-bottom: 100px;
		/*background-color: #12172e;*/
		/*background: #12172e;*/
		/*background: -webkit-linear-gradient(#12172e, #132a45);*/
		/*background: -o-linear-gradient(#12172e, #132a45);*/
		/*background: -moz-linear-gradient(#12172e, #132a45);*/
		/*background: linear-gradient(#12172e, #132a45);*/
	}

	.futuremobile {
		/*background-color: #132a45;*/
		padding-top: 100px;
		padding-bottom: 50px;
		margin-bottom: 100px;
	}
	.contactsmobile {
		background-color: #ffffff;
		color:#12172e;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.contactsmobile h1 {
		text-align: left;
	}

	/*.aboutmobile p {*/
		/*text-align: justify;*/
	/*}*/
	/*.futuremobile p {*/
		/*text-align: justify;*/
	/*}*/
	.card__body {
		margin-bottom: 35px;
	}
	.card__image {
		right: 0;
	}
	#panel {
		margin-left: 0;
		margin-right: 0;
	}
	.overlay .container {
		margin-top: 30px;
	}
	.overlay {
		background-color: #12172e;
	}
	.desktop-button {
		display: none!important;
	}
	.mobile-button {
		display: inline-block!important;
		z-index: 9999;
	}

	.homemobile {
		padding-top: 220px;
	}
	.homemobile h1 {
		font-size: 60px;
		line-height: 40px;
		margin-right: 15%;
		margin-bottom: 0;
		text-align: right;
	}
	.homemobile h3 {
		margin-right: 15%;
		font-size: 21px;
		text-align: right;
	}
	.homemobile .buttons {
		margin-top: 150px;
		bottom: 0;
	}
	.homemobile .btn-primary {

		padding: 7px 30px;
	}

	.card__header {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}

	.features  {
		display: inline-block!important;
		margin-bottom: 10px!important;
	}

	.features  {
		display: inline-block!important;
		margin-bottom: 10px!important;
	}

	#aboutover .content, #mainover .content {
		display: none!important;
	}
	#aboutover .offset-2 {
		margin-left: 0!important;
	}

	#mainover .service-block img {
		width: 50%;
	}

	#mainover .service-block {
		text-align: left;
		height: 450px;
	}

	#mainover .service-block h3, #mainover .service-block p, #mainover .backtext {
		text-align: left;
	}

	.footer {
		display: none;
	}

	.logo img {
		padding:5px;
	}

	/*.is-opened {*/
		/*display:inline-table!important;*/
	/*}*/

	.btn-primary svg {
		fill:#0275d8;
	}

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.col-lg-12 {
		padding-right: 0;
		padding-left: 0;
	}

	#aboutover .btn-primary {
		width:100%;
	}
}

.word {
	bottom: 0;
	color: #fff;
	left: 0;
	right: 0;
	/*text-shadow: 0 0 10px rgba(50, 255, 50, 0.5), 0 0 5px rgba(100, 255, 100, 0.5);*/
	top: 0
}

.word span {
	display: inline-block;
	transform: translateX(100%) scale(0.9);
	transition: transform 500ms;
}

.word .done {
	color: #fff;
	transform: translateX(0) scale(1);
}

.content {
	z-index: 1;
	background-color: #1b2245;
	margin-left: -150px;
	display: none;
	right: -800px;
	opacity:0;
}

.text {
	z-index: 9;
	padding-top: 50px;
	right: -1200px;
	opacity: 0;
}

.moreimage {
	height: 450px;
	padding: 50px;
	background-image: url('../assets/about.jpeg');
	background-size: cover;
	background-position: center;
	margin-left: 600px;
	width: 100%;
	display: none;
	opacity: 0;
}

.is-opened .content {
	display: block!important;
	animation: animblock 2s ease forwards;
	animation-delay: 0.6s;
}

.is-opened .content .moreimage {
	display: block!important;
	animation: animblock2 2s ease forwards;
	animation-delay: 0.9s;
}

.is-opened .text {
	display: block!important;
	animation: animblock3 2s ease forwards;
	animation-delay: 0.3s;
}

@-webkit-keyframes animblock3 {
	from {opacity:0;right: -1200px;}
	to {opacity:1;right: 0;}
}

@keyframes animblock3 {
	from {opacity:0;right: -1200px;}
	to {opacity:1;right: 0;}
}

@-webkit-keyframes animblock {
	from {opacity:0;right: -800px;}
	to {opacity:1;right: 0;}
}

@keyframes animblock {
	from {right: -800px;}
	to {opacity:1;right: 0;}
}

@-webkit-keyframes animblock2 {
	from {opacity:0;margin-left: 600px;}
	to {opacity:1;margin-left: 150px;}
}

@keyframes animblock2 {
	from {opacity:0;margin-left: 600px;}
	to {opacity:1;margin-left: 150px;}
}


h2 {
	font-size: 80px;
	font-family: 'Teko', sans-serif;
	line-height: 60px;
	margin-bottom: 5px;
}

h5 {
	color:#659AF7;
}
h6 {
	font-size: 28px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

.features {
	margin-top: 200px;
	display: flex;
	text-align: center;
	width: 100%;
	margin-bottom: 50px;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 1s;
}
.features img {
	width: 40%!important;
	margin-top: -200px;
}

.backtext {
	font-size: 250px;
	color:#1b2245;
	font-family: 'Passion One', cursive;
}

.features h3 {
	margin-top: -20px;
}

.overlay {
	height: 100%!important;
}

#menuover {
	overflow-y: hidden!important;
}

.features {
	margin-top: 200px;
	display: flex;
	text-align: left;
	width: 100%;
	margin-bottom: 200px;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 1s;
}
.features img {
}

.features h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
}

.features .col-md-3 {
	float: left;
}

.features .col-md-9 {
	float: left;
	text-align: left;

}

.service-block {
	height: 300px;
	margin-top: -120px;
}

.splash h2 {
	font-family: 'Dosis', 'Lato', sans-serif;
	font-size: 50px;
	font-weight: 200;
	height: 100%;
	width: 100%;
	overflow: hidden;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 14px;
	text-align: center;
}
.splash h2,
.splash h2 > span {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.splash h2 > span {
	margin: 0 15px;
}

.splash h2 > span > span {
	display: inline-block;
	perspective: 1000px;
	transform-origin: 50% 50%;
}

.splash h2 > span > span > span {
	display: inline-block;
	color: hsla(0,0%,0%,0);
	transform-style: preserve-3d;
	transform: translate3d(0,0,0);
	animation: OpeningSequence 5.2s linear forwards;
}

.splash h2:nth-child(2) > span > span > span {
	animation-delay: 5s;
}

.splash h2:nth-child(3) > span > span > span {
	animation-delay: 10s;
}

.splash h2:nth-child(4) > span > span > span {
	animation-delay: 15s;
}

.splash h2:nth-child(5) > span > span > span {
	font-size: 150px;
	animation-delay: 21s;
	animation-duration: 8s;
}

.splash h2:nth-child(6) > span > span > span {
	animation-delay: 30s;
}

.splash h2:nth-child(7) > span > span > span {
	animation-delay: 34s;
}

@keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 50px #fff;
		letter-spacing: 80px;
		opacity: 0.2;
		transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 1px #fff;
		letter-spacing: 14px;
		opacity: 0.8;
		transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 1px #fff;
		opacity: 0.8;
		transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 10px #fff;
		opacity: 0;
		transform: translateZ(130px);
		pointer-events: none;
	}
}

.splash h2:nth-child(8) > span > span > span {
	font-size: 30px;
	animation: FadeIn 4s linear 40s forwards;
}

@keyframes FadeIn {
	0% {
		opacity: 0;
		text-shadow: 0 0 50px #fff;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 1px #fff;
	}
}

.splash h2:first-child .word1,
.splash h2:nth-child(2) .word1,
.splash h2:nth-child(2) .word4,
.splash h2:last-child .word1 {
	font-weight: 600;
}

#splash {
	display: none;
	opacity:0.5;
}

.shape-overlays {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9997;
	pointer-events: none;
}

.shape-overlays path:nth-of-type(1) { fill: #ffffff; }
.shape-overlays path:nth-of-type(2) { fill: #659AF7; }
.shape-overlays path:nth-of-type(3) { fill: #12172e; }

#menuover {
	display: none;
}

#aboutover {
	display: none;
	overflow-x: hidden;
}

#mainover {
	display: none;
	overflow-x: hidden;
}

.navbar {
	z-index: 9996;
}

.aboutblock {
	z-index: 1;
	background-color: #1b2245;
	margin-left: 0;
	display: block;
	right: 0;
	opacity:1
}

.aboutimage {
	height: 300px;
	padding: 50px;
	background-image: url('../assets/about.jpeg');
	background-size: cover;
	background-position: center;
	margin-left: 0;
	width: 70%;
	display: block;
	opacity: 1;
}

.aboutover .buttons .btn {
	width: 150px;
	margin-right: auto;
	margin-left: auto;
}

.aboutblock h2 {

}

#panel h6 {
	margin-bottom: 20px;
}

.range {
	-webkit-appearance: none;
	-moz-appearance: none;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 200px;
	margin-top: 10px;
	transform: translate(-50%, -50%);
}

input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
	height: 2px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 2px solid #db024d;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	max-width: 80px;
	position: relative;
	bottom: 11px;
	background-color: #1d1c25;
	cursor: -webkit-grab;

	-webkit-transition: border 1000ms ease;
	transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
	-moz-appearance: none;
	border: 2px solid #db024d;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	max-width: 80px;
	position: relative;
	bottom: 11px;
	background-color: #1d1c25;
	cursor: -moz-grab;
	-moz-transition: border 1000ms ease;
	transition: border 1000ms ease;
}



input[type=range]::-webkit-slider-thumb:active {
	cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
	cursor: -moz-grabbing;
}

.futuremessage svg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.futuremessage svg path {
	fill: rgba(255, 255, 255, 0.45);
}

.futuremessage svg line {
	stroke: rgba(255, 255, 255, 0.45);
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	animation: 300ms move-lines infinite forwards;
}

@keyframes move-lines {
	from {
		stroke-dashoffset: 300;
	}
	to {
		stroke-dashoffset: -300;
	}
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #151a2e;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #20284b;
}
